<!-- <div class="container">
  <div class="row justify-content-center">
    <button class="btn btn-primary" routerLink="/table-list">
      Available Table
    </button>
    <button class="btn btn-primary" routerLink="/reserve-table">
      Reservation entry form
    </button>
  </div>
  <router-outlet></router-outlet>
</div> -->

<div class="flex-parent jc-center">
  <button class="btn btn-primary margin-right" routerLink="/table-list">
    Book a Table
  </button>
  <button class="btn btn-primary" routerLink="/reserve-table">
    List of Table
  </button>
</div>
<section class="section-area">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
